@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/oswald/v36/TK3_WkUHHAIjg75cFRf3bXL8LICs1_FvsUZiYA.ttf) format('truetype');
}
@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/oswald/v36/TK3_WkUHHAIjg75cFRf3bXL8LICs1xZosUZiYA.ttf) format('truetype');
}
body {
  margin: 0;
  font-family: 'ProximaNova-Regular';
  min-width: 100%;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
h1,
h2 {
  font-weight: normal;
}
a {
  text-decoration: none;
  font-weight: normal;
  color: inherit;
}
/* Loading  
-----------------------------*/
div#ajaxBusy,
div.loading {
  height: 1px;
  position: fixed;
  left: 0;
  top: 0;
  text-align: center;
  width: 100%;
  z-index: 999999;
  display: none;
}
div#ajaxBusy p,
div.loading p {
  background: url(//rogerstenis.vteximg.com.br/arquivos/ajax-loader2.gif) no-repeat 115px center #FFF6BF;
  border: 2px #FFD324 solid;
  border-top: 0;
  border-radius: 0 0 5px 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin: 0 auto;
  padding: 8px 30px 8px 0;
  width: 120px;
}
/* Principal
-----------------------------*/
.container {
  width: 100%;
  height: auto;
  text-align: left;
}
.renan2 {
  color: black;
}
nav.submenu {
  background: #ffffff;
  position: absolute;
  margin: auto;
  z-index: 10;
  display: none;
  border: 1px solid #dadada;
  visibility: hidden;
  opacity: 0;
  transition: all 0.4s ease-in-out 0.01s;
  text-align: left;
  height: initial;
  width: max-content;
  overflow: visible;
  top: 21px;
  left: -10px;
}
nav.submenu.acessorios {
  margin: 42px 0 0 -585px;
}
nav.submenu.ofertas {
  margin: 42px 0 0 -705px;
}
nav.submenu ul {
  padding: 0;
  margin: 10px;
  text-align: left;
  height: 100%;
  float: left;
  display: inline-block;
  overflow: visible;
}
nav.submenu.homens ul li:first-child,
nav.submenu.mulheres ul li:first-child,
nav.submenu.criancas ul li:first-child {
  text-transform: uppercase;
  font-size: 8pt;
  font-family: 'proxima_nova_ltbold';
  letter-spacing: 3pt;
  display: block;
}
nav.submenu ul li {
  color: #000;
  text-transform: capitalize;
  display: block;
  line-height: 29px;
  font-family: 'ProximaNova-Regular';
  text-align: left;
  margin: 0 21px;
  padding: 0px 2px;
  position: relative;
  width: 100%;
  letter-spacing: 1pt;
}
.submenu ul:last-child li:first-child,
.submenu ul:last-child li:last-child {
  text-transform: uppercase;
  font-size: 8pt;
  font-family: 'proxima_nova_ltbold';
  letter-spacing: 3pt;
  display: block;
}
.submenu ul:last-child li:first-child a {
  color: #ce2512 !important;
}
.submenu ul:last-child li:last-child a {
  font-weight: bold;
  color: #ce2512 !important;
}
@media screen and (min-width: 767px) {
  .over-homens:hover nav.submenu.homens,
  .over-mulheres:hover nav.submenu.mulheres,
  .over-criancas:hover nav.submenu.criancas,
  .over-acessorios:hover nav.submenu.acessorios,
  .over-ofertas:hover nav.submenu.ofertas,
  .over-marcas:hover nav.submenu.marcas {
    display: inline-block;
    visibility: visible;
    opacity: 1;
    width: max-content;
  }
  .navbar-inverse {
    display: none;
  }
  .Ofertas {
    position: absolute;
    left: 38em;
    top: 22px;
  }
  .ver-todos-link {
    display: flex;
    font-size: 16px;
    color: white;
    position: relative;
    bottom: 30px;
    border-radius: 22px;
    width: 182px;
    padding: 11px 0px 11px 10px;
    left: 44%;
    background: linear-gradient(to right, #e06b51, #f84500);
  }
  .ver-todos-link:hover {
    background: linear-gradient(to right, #f84500, #e06b51);
  }
  .See-More-Link :hover {
    color: white;
    text-decoration: none;
  }
  .See-More-Link {
    position: relative;
    left: 27%;
    color: white !important;
    text-decoration: none !important;
  }
  body.home .navigator-div h3.equipamentos {
    position: absolute;
    margin: 0;
    left: 114px;
    padding: 0;
    top: 14px;
  }
  body.produto-new .navigator-div h3.equipamentos {
    position: absolute;
    margin: 0;
    left: 114px;
    padding: 0;
    top: 24px;
  }
  body.home .navigator-div h3.calcados {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 14px;
  }
  body.home .navigator-div .Ofertas {
    position: absolute;
    left: 38em;
    top: 20px;
  }
  .navigator-div .menu-departamento {
    display: flex;
  }
  .navigator-div .menu-item-texto,
  .navigator-div .brandFilter h3,
  .navigator-div .Ocasiao h3,
  .navigator-div .Genero h3 {
    color: #bf1111;
    padding: 3px;
    text-transform: uppercase;
    font-family: 'proxima_nova_ltbold';
    font-size: 13px;
  }
  .navigator-div .menu-item-texto:hover,
  .navigator-div .brandFilter h3:hover,
  .navigator-div .Ocasiao h3:hover,
  .navigator-div .Genero h3:hover {
    text-decoration: underline;
  }
  .navigator-div .menu-item-texto:hover {
    color: #bf1111;
  }
  .navigator-div ul.calcados {
    line-height: 2;
    top: 43px;
    right: 302px;
    position: absolute;
    padding: 0;
    padding-bottom: 21px;
  }
  .navigator-div h3.calcados {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 24px;
  }
  .navigator-div h3.equipamentos {
    position: absolute;
    margin: 0;
    left: 114px;
    padding: 0;
    top: 24px;
  }
  .navigator-div ul.equipamentos {
    position: relative;
    line-height: 2;
    left: 122px;
    top: 43px;
    width: 346px;
    padding-bottom: 25px;
    height: 212px;
  }
  /* ul.roupas-e-acessorios {
        position: relative;
        top: 53px;
        line-height: 2;
        right: 372px;
        width: 337px;
        height: 471px;
    } */
  .navigator-div .roupas-e-acessorios a {
    display: flex;
    width: max-content;
  }
  .navigator-div h3.roupas-e-acessorios {
    position: absolute;
    margin: 0;
    left: 259px;
    padding: 0;
    top: 21px;
  }
  .navigator-div ul.calcados li a,
  .navigator-div ul.equipamentos li a,
  .navigator-div ul.roupas-e-acessorios li a,
  .navigator-div .Ocasiao ul li a,
  .navigator-div .brandFilter ul li a,
  .navigator-div .Genero ul li a {
    color: black;
    font-family: 'proxima_nova_ltregular';
    text-transform: capitalize !important;
    font-size: 14px;
  }
  .navigator-div .Tamanho {
    display: none;
  }
  .navigator-div .brandFilter {
    position: absolute;
    margin: 0;
    left: 448px;
    padding: 0;
    top: 1px;
  }
  .navigator-div .brandFilter ul {
    position: absolute;
    left: -11px;
    top: 46px;
    height: 282px;
    width: 541px;
  }
  .navigator-div .brandFilter ul li {
    width: 96px;
    line-height: 2;
  }
  .navigator-div .Genero ul {
    position: absolute;
    top: 46px;
    left: -14px;
  }
  .navigator-div .Genero {
    margin-top: 8px;
    position: relative;
    right: 575px;
    display: none;
  }
  .navigator-div .Ocasiao {
    position: relative;
    right: 513px;
    margin-top: 8px;
    display: none;
  }
  .navigator-div .Ofertas a {
    color: #bf1111;
    padding: 3px;
    text-transform: uppercase;
    font-family: 'proxima_nova_ltbold';
    font-size: 13px;
  }
  .navigator-div .Ofertas a:hover {
    color: #bf1111;
  }
  .navigator-div .Ocasiao ul {
    left: -8px;
  }
  .navigator-div .visible {
    visibility: visible;
    opacity: 1;
  }
  .navigator-div .hiddens {
    visibility: hidden;
    opacity: 0;
  }
  .main-search {
    width: 25%;
    height: 30px;
    background: white;
    border: 1px solid black;
    border-radius: 5px;
    left: 140px;
    margin: 22px 10px 20px 30px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    text-align: left;
  }
  .navigator-div .roupas-e-acessorios li:nth-child(-n+7) {
    display: flex;
    position: relative;
    right: 0em;
    width: 135px;
    bottom: 0;
    /* top: 12px; */
  }
  .navigator-div .roupas-e-acessorios li:nth-child(8),
  .navigator-div .roupas-e-acessorios li:nth-child(9),
  .navigator-div .roupas-e-acessorios li:nth-child(10),
  .navigator-div .roupas-e-acessorios li:nth-child(11),
  .navigator-div .roupas-e-acessorios li:nth-child(12),
  .navigator-div .roupas-e-acessorios li:nth-child(13),
  .navigator-div .roupas-e-acessorios li:nth-child(14) {
    display: flex;
    position: relative;
    left: 15.5em;
    width: 153px;
    bottom: 15.7em;
  }
  .navigator-div .roupas-e-acessorios li:nth-child(15),
  .navigator-div .roupas-e-acessorios li:nth-child(16),
  .navigator-div .roupas-e-acessorios li:nth-child(17),
  .navigator-div .roupas-e-acessorios li:nth-child(18),
  .navigator-div .roupas-e-acessorios li:nth-child(19),
  .navigator-div .roupas-e-acessorios li:nth-child(20),
  .navigator-div .roupas-e-acessorios li:nth-child(21) {
    display: flex;
    position: relative;
    left: 33em;
    width: 91px;
    bottom: 32.2em;
  }
  .navigator-div ul.equipamentos li:nth-child(-n+6) {
    width: 120px;
  }
  .navigator-div ul.equipamentos li:nth-child(7),
  .navigator-div ul.equipamentos li:nth-child(8),
  .navigator-div ul.equipamentos li:nth-child(9),
  .navigator-div ul.equipamentos li:nth-child(10),
  .navigator-div ul.equipamentos li:nth-child(11),
  .navigator-div ul.equipamentos li:nth-child(12) {
    display: flex;
    position: relative;
    left: 13em;
    width: 183px;
    bottom: 14.5em;
  }
  .brandFilter ul li {
    text-transform: lowercase;
  }
  .brandFilter ul li a {
    text-transform: capitalize;
  }
  .navigator-div ul.roupas-e-acessorios {
    position: absolute;
    top: 44px;
    line-height: 2;
    left: 251px;
    width: 567px;
    height: 256px;
  }
  .navigator-div .brandFilter ul li:nth-child(8),
  .navigator-div .brandFilter ul li:nth-child(9),
  .navigator-div .brandFilter ul li:nth-child(10),
  .navigator-div .brandFilter ul li:nth-child(11),
  .navigator-div .brandFilter ul li:nth-child(12),
  .navigator-div .brandFilter ul li:nth-child(13),
  .navigator-div .brandFilter ul li:nth-child(14) {
    display: flex;
    position: relative;
    left: 15.5em;
    width: 65px;
    bottom: 16.9em;
  }
  .navigator-div .brandFilter ul li:nth-child(15),
  .navigator-div .brandFilter ul li:nth-child(16),
  .navigator-div .brandFilter ul li:nth-child(17),
  .navigator-div .brandFilter ul li:nth-child(18),
  .navigator-div .brandFilter ul li:nth-child(19),
  .navigator-div .brandFilter ul li:nth-child(20),
  .navigator-div .brandFilter ul li:nth-child(21) {
    display: flex;
    position: relative;
    left: 32em;
    width: 66px;
    bottom: 33.6em;
  }
  .wrap-menu {
    display: none;
  }
  .navigator-div {
    display: flex;
    width: 65%;
  }
  nav.submenu {
    background: #ffffff;
    position: absolute;
    margin: auto;
    z-index: 10;
    border: 1px solid #dadada;
    visibility: hidden;
    display: none;
    opacity: 0;
    transition: all 0.4s ease-in-out 0.01s;
    text-align: left;
    height: initial;
    width: max-content;
    overflow: visible;
    top: 21px;
    left: -10px;
  }
}
@media screen and (max-width: 767px) {
  .new-shelf-home ul li {
    width: 48%;
  }
  .main-search {
    width: 25%;
    height: 30px;
    background: white;
    border: 1px solid black;
    border-radius: 5px;
    left: 49px;
    margin: 22px 10px 20px 30px;
    display: inline-block;
    vertical-align: top;
    position: relative;
    text-align: left;
  }
  .navigator-div {
    /* display: none; */
  }
  .isMobile {
    display: block;
  }
  .desktop {
    display: none;
  }
  .MobileUl {
    display: inline-flex !important;
  }
  .submenu {
    bottom: 21px;
    font-family: proxima_nova_ltbold;
    flex-flow: column;
    height: 100%;
    position: fixed;
    width: 103%;
    display: flex;
    overflow: scroll;
  }
  nav.submenu.homens.mobile {
    width: 81%;
    height: 100%;
    position: fixed;
    overflow: auto;
    display: flex !important;
    /* visibility: hidden; */
  }
  .close-Btn {
    position: relative;
    left: 17.1em;
    top: 1em;
    width: 20px;
    text-align: center;
    font-size: 15px;
    color: black;
  }
  .navigator-div ul {
    margin-left: 26px !important;
    opacity: 1;
  }
  .navigator-div .Ocasiao {
    position: absolute !important;
    left: 24px;
    height: fit-content;
    top: 109em;
    right: 0 !important;
  }
  .navigator-div .Ocasiao ul {
    left: -8px;
    opacity: 1;
  }
  .navigator-div .Genero {
    margin-left: 25px;
    display: none;
  }
  .navigator-div .Genero ul {
    position: absolute;
    top: 46px;
    left: 0px !important;
  }
  .navigator-div {
    overflow-y: scroll;
    height: 100%;
    width: 312px;
  }
  .navigator-div h3:first-of-type {
    margin-top: 30px;
  }
  .navigator-div h3 {
    position: relative;
    left: 22px !important;
    margin-top: 11px;
    height: fit-content;
  }
  .navigator-div a {
    color: #5a4d4d;
    font-family: 'proxima_nova_ltbold';
    text-transform: uppercase;
    font-size: 16px;
  }
  .navigator-div h3 a {
    color: #333333f2;
    font-family: 'proxima_nova_ltbold';
    text-transform: uppercase;
    font-size: 16px;
  }
  .selector-bar {
    display: none;
  }
  .main-search {
    position: absolute;
    bottom: 0px;
    width: 73% !important;
    padding-top: 7px;
    right: 10px;
    margin: auto 0px;
    top: 77px;
  }
  .menu-departamento {
    /* flex-flow: column; */
    /* display: flex; */
  }
  .navigator-div ul {
    /* line-height: 2; */
  }
  /* .BannerFull {
        margin-top: 10em;
    } */
  /* .menu-mobile>ul>li>a {
        text-transform: uppercase;
        font-family: 'proxima_nova_ltbold';
        font-size: 13px;
        color: #bf1111 !important;
    } */
  .navbar-inverse {
    background: white !important;
    border: none !important;
    display: block !important;
    box-shadow: 1px 1px #808080c7;
  }
  .navbar-toggle {
    border: none !important;
  }
  .navbar-header {
    max-height: 104px;
    height: 104px;
  }
  .main-search fieldset .fulltext-search-box {
    position: relative;
    left: 8px;
    max-width: 294px;
    text-align: left;
    margin-top: 0px !important;
    bottom: 8px;
    height: 30px;
  }
  .logo {
    background: url(//rogerstenis.vteximg.com.br/arquivos/icones.png) no-repeat 0 0;
    background-size: 150px 600px;
    height: 53px;
    max-width: 134px;
    width: 40%;
    margin: 0px;
    top: 13px;
    padding: 0px;
    right: 31%;
    position: absolute;
  }
}
.navbar-inverse {
  background: white !important;
  border: none;
  box-shadow: 1px 1px #808080c7;
}
/* novo menu */
.btn-menu {
  padding: 20px 15px;
}
.btnMenu-open {
  display: block;
  background-color: #fff;
}
.btnMenu_close i {
  margin-top: 0px;
  margin-left: 0px;
  height: auto !important;
}
.btnMenu_close {
  background-color: #bf1111;
  height: 64px !important;
  display: flex;
  padding-left: 14px;
  margin-left: -26px;
  align-items: center;
}
.wrap-menu {
  margin-left: -15px;
}
.categorie-text {
  font-family: proxima_nova_ltbold;
  font-size: 13px;
  text-decoration: none;
  color: #bf1111;
  text-transform: uppercase;
}
ul {
  padding: 0px;
  margin: 0;
}
ul li {
  list-style: none;
}
.menu {
  background: white;
  position: fixed;
  height: 100%;
  transform: translateX(-100%);
  width: 83%;
  transition: transform 300ms linear 0s;
  top: 0px;
  z-index: 3;
}
.categories {
  margin: 12px 11px;
}
.menu li {
  height: 32px;
}
.icon-handler {
  height: 64px;
  display: flex;
  align-items: center;
}
.overlayMobile {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
}
.menu-item a {
  font-size: 13px;
  color: #bf1111 !important;
  font-family: 'proxima_nova_ltbold';
  text-transform: uppercase;
}
.menu_open {
  transform: translateX(0);
  z-index: 3;
}
.menu-item-action {
  height: 32px;
  margin-top: 15px;
  right: 9px;
  position: relative;
}
.menu-item-action a {
  font-family: proxima_nova_ltbold;
  font-size: 13px;
  text-decoration: none;
}
/*      fim menu   */
.navbar-toggle {
  border: none !important;
}
nav.submenu ul:nth-last-child(2) {
  display: none !important;
}
nav.submenu.homens ul:nth-last-child(3),
nav.submenu.mulheres ul:nth-last-child(3),
nav.submenu.criancas ul:nth-last-child(3),
nav.submenu.homens ul:nth-last-child(4),
nav.submenu.mulheres ul:nth-last-child(4),
nav.submenu.criancas ul:nth-last-child(4),
nav.submenu.homens ul:nth-last-child(5),
nav.submenu.mulheres ul:nth-last-child(5),
nav.submenu.criancas ul:nth-last-child(5),
nav.submenu.homens ul:nth-last-child(9) {
  display: none !important;
}
body.produto .title {
  color: #333;
}
body.produto .description {
  font-size: 12px;
}
footer a {
  color: aqua;
}
