@import url(https://fonts.googleapis.com/css?family=Oswald:400,700);
body {
    margin: 0;
    font-family: 'ProximaNova-Regular';
    min-width: 100%;
}

ul {
    padding: 0;
    margin: 0
}

li {
    list-style: none;
}

h1,
h2 {
    font-weight: normal
}

a {
    text-decoration: none;
    font-weight: normal;
    color: inherit;
}


/* Loading  
-----------------------------*/

div#ajaxBusy,
div.loading {
    height: 1px;
    position: fixed;
    left: 0;
    top: 0;
    text-align: center;
    width: 100%;
    z-index: 999999;
    display: none;
}

div#ajaxBusy p,
div.loading p {
    background: url(//rogerstenis.vteximg.com.br/arquivos/ajax-loader2.gif) no-repeat 115px center #FFF6BF;
    border: 2px #FFD324 solid;
    border-top: 0;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin: 0 auto;
    padding: 8px 30px 8px 0;
    width: 120px;
}


/* Principal
-----------------------------*/

.container {
    width: 100%;
    height: auto;
    text-align: left;
}

.topbar {
    width: 100%;
    background: rgb(0, 0, 0);
    min-height: 20px;
    text-align: right;
    height: 27px;
    line-height: 19px;
}

.topbar .container {
    max-width: 1200px;
    display: block;
    text-align: right;
    margin: 0 auto;
}

.topbar .container ul {
    text-align: right;
    display: inline-block;
}

.topbar a {
    text-decoration: none;
    color: #fff;
}

.topbar a:hover {
    color: red;
}

.categories a:hover {
    text-decoration: none !important;
    color: #bf1111;
}


.topbar .container ul li {
    display: inline-block;
    color: #fff;
    margin-right: 20px;
    font-size: 11px;
    text-transform: uppercase;
    padding-right: 25px;
    border-right: 1px solid #ccc;
    margin-top: 5px;
    margin-bottom: 6px;
    height: 16px;
    vertical-align: middle;
}

.topbar .container ul li:last-child {
    border: 0
}

.topbar .container ul li .portal-minicart-ref {
    width: 100%;
    height: auto;
    background: yellow;
    float: left;
}

header {
    width: 100%;
    max-width: 1200px;
    min-height: 158px;
    margin: 0 auto;
    display: block;
}

header .logo,
header .main-menu,
header .main-search {}

header>.container>a:first-child {
    display: inline-block;
    width: 150px;
    position: relative;
    right: 45px;
    margin: 2px 0px -15px 0px;
}

header .logo {
    background: url('//rogerstenis.vteximg.com.br/arquivos/icones.png') no-repeat 0 0;
    background-size: 150px 600px;
    height: 53px;
    margin: 12px 0;
    max-width: 128px;
}


/* BUSCA
-----------------------------*/

@media (min-width: 1200px) {
    .container {
        width: 100% !important;
        padding: 0 !important;
    }
}

@media (max-width: 767px) {
    header {
        display: none !important;
    }
    .desktop-header {
        display: none;
    }
    .topbar {
        display: none;
    }
    .wrap-menu {
        display: block;
        height: 133px;
    }
    .navigator-div .Tamanho {
        DISPLAY: NONE;
    }
    .remove-categories {
        color: black;
        float: right;
        position: relative;
        top: 19px;
        right: 14px;
    }
    .main-search {
        position: absolute;
        bottom: 0px;
        width: 84% !important;
        padding-top: 7px;
        right: 15px;
        margin: auto 16px;
        top: 77px;
    }
    .my-accont-text {
        font-size: 10px;
        display: block;
        color: white;
        position: relative;
        left: -7px;
        bottom: 10px;
        width: max-content;
    }
    .click {
        font-family: proxima_nova_ltbold;
        font-size: 13px;
        text-decoration: none;
        color: #bf1111;
        text-transform: uppercase;
    }
    header>.container>a:first-child {
        display: inline-block;
        width: 100%;
        margin: 2px 0px -15px 0px;
    }
    header .logo {
        width: 35%;
        margin: 0px auto;
        margin-top: 2em;
    }
    .Ofertas {
        margin-left: 24px;
        color: #bf1111;
        display: none;
    }
    .main-search input.btn-buscar {
        width: 31px;
        max-width: 34px;
        height: 31px;
        position: absolute;
        right: 2px !important;
        top: -8px !important;
        border: 0px !important;
        background: url(//rogerstenis.vteximg.com.br/arquivos/icones.png) no-repeat 6px -270px;
        background-size: 173px 698px;
        text-indent: -9999px;
        padding: 0;
    }
    .ItemFlutuante2 {
        margin-bottom: 35px;
    }
}

.main-search fieldset {
    border: none;
    position: relative;
}

.main-search fieldset legend,
.main-search label,
.main-search select {
    display: none
}

.main-search fieldset .fulltext-search-box {
    border: none;
    outline: none;
    width: 100%;
    left: 10px;
    max-width: 220px;
    margin-top: -5px !important;
    background: none;
    font-family: 'proxima_nova_ltregular';
    font-style: italic;
    text-transform: uppercase;
    font-size: 11px;
    height: 20px;
    margin-top: 5px !important;
    position: absolute;
}

.main-search input.btn-buscar {
    width: 31px;
    max-width: 34px;
    height: 31px;
    position: absolute;
    right: -2px;
    top: 0px;
    border: 0px;
    background: url('//rogerstenis.vteximg.com.br/arquivos/icones.png') no-repeat 6px -270px;
    background-size: 173px 698px;
    text-indent: -9999px;
    padding: 0;
}


/* MAIN MENU
-----------------------------*/

.ui-autocomplete {
    width: 300px;
    padding: 10px 0px;
    background-color: #FFF;
    border-top: 3px solid #3d3d3d;
    line-height: normal;
    text-align: left;
    font-style: italic;
    z-index: 99999;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.35);
    display: inline-block;
    overflow: visible;
}

.ui-autocomplete {}

.ui-autocomplete+.ui-autocomplete {
    max-height: 280px;
    overflow: auto;
    position: fixed;
    z-index: 1103 !important;
}

.ui-autocomplete a {
    color: #4a4a4a;
    cursor: pointer;
    font-size: 11px;
    overflow: visible;
    display: block;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    font-style: normal;
}

.ui-state-hover {
    color: #4a4a4a;
}

.ui-menu-item a {
    border-top: 1px solid #dedede;
    line-height: normal;
    overflow: hidden;
    padding: 5px 17px 0 17px;
    display: block;
    text-transform: capitalize;
    margin: 4px 0;
}

a.ui-corner-all {
    height: auto
}

.ui-menu-item:first-child {
    border: none;
}

.ui-autocomplete img {
    margin-right: 13px;
    margin-top: 1px;
    vertical-align: middle;
}


/* PitchBar
------------------------------------*/

.pitch-bar {
    width: 100%;
    max-width: 1200px;
    height: auto;
    margin-top: 0px;
    border-bottom: 1px solid #e3e3e3;
    border-top: 1px solid #e3e3e3;
    display: block;
    margin: 0 auto;
}

.pitch-bar ul {
    width: 100%;
    max-width: 1000px;
    margin: 21px auto 10px;
    display: block;
    text-align: center;
}

.pitch-bar ul li {
    display: inline-block;
    height: inherit;
    text-transform: uppercase;
    font-size: 13px;
    padding: 3px 1.5% 0 60px;
    text-align: center;
    width: auto;
    margin: 0 6% 0 0;
    letter-spacing: 1px;
}

.pitch-bar ul li {
    background: url('//rogerstenis.vteximg.com.br/arquivos/icones.png') no-repeat 0 -136px;
    background-size: 173px 698px;
}

.pitch-bar ul li:first-child {
    background: url('//rogerstenis.vteximg.com.br/arquivos/icones.png') no-repeat 0 -193px;
    background-size: 173px 698px;
}

.pitch-bar ul li:last-child {
    background: url('//rogerstenis.vteximg.com.br/arquivos/icones.png') no-repeat 0 -83px;
    background-size: 173px 698px;
}

body>.container>.content {
    width: 80%;
    margin: 0 auto;
    /* text-align: left; */
    display: block;
    max-width: 100%;
}


/* MARCAS
--------------------------------*/

.brand-carrousel {
    width: 92% !important;
    height: 80px;
    padding-top: 10px;
    display: inline-block;
}

.brand-carrousel ul {
    list-style-type: none;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    height: 90px
}

.brand-carrousel ul li.brand {
    display: inline;
    background: #fff;
    line-height: 3.8em;
    padding: 10px;
    width: 85px !important;
}

.brand-carrousel ul li img {
    width: 100%;
}

.brand-carrousel ul li img:hover {
    opacity: .4;
    transition: all 0.4s ease-in-out 0.01s;
}

a.vitbtprev {
    background: url('//rogerstenis.vteximg.com.br/arquivos/back.png') no-repeat 50% 50%;
    width: 4%;
    height: 80px;
    display: inline-block;
}

a.vitbtnext {
    background: url('//rogerstenis.vteximg.com.br/arquivos/next.png') no-repeat 50% 50%;
    width: 4%;
    height: 80px;
    display: inline-block;
}


/* BANNER HOME PRINCIPAL
--------------------------------*/

.main-banner {
    margin-bottom: 50px;
    width: 100%;
    float: left;
}

ul.slides {
    padding: 0;
    width: 100%;
    max-width: 1200px;
    height: auto;
    display: block;
    margin: 0 auto;
    position: relative;
    background: #fafafa;
}

ul.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

ul.slides input {
    display: none;
}

.slide-container {
    display: block;
}

ul.slides li .box-banner {
    top: 0;
    opacity: 0;
    width: 100%;
    max-width: 1200px;
    height: auto;
    display: block;
    position: relative;
    transition: all .7s ease-in-out;
}

.prateleira-home .box-banner img {
    width: 100%;
    height: auto;
    max-width: 1200px;
}

.slide-container .box-banner img {
    width: 100%;
    height: auto;
    max-width: 1200px;
}

.nav label {
    width: 50px;
    height: 100%;
    display: none;
    position: absolute;
    opacity: 0;
    z-index: 9;
    cursor: pointer;
    transition: opacity .2s;
    text-indent: -9999px
}

.nav label.next {
    background: url(//www.rogerstenis.com.br/arquivos/slider-next.png) no-repeat 0 center;
    background-size: 50px 64px
}

.nav label.prev {
    background: url(//www.rogerstenis.com.br/arquivos/slider-previous.png) no-repeat 0 center;
    background-size: 50px 64px
}

.box-banner:hover+.nav label {
    opacity: 0.5;
}

.nav label:hover {
    opacity: 1;
}

.nav .next {
    right: 0;
}

input:checked+.slide-container .box-banner {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
}

input:checked+.slide-container .nav label {
    display: block;
}

.nav-dots {
    width: 100%;
    bottom: 9px;
    height: 11px;
    display: block;
    position: absolute;
    text-align: center;
}

.nav-dots .nav-dot {
    top: 25px;
    width: 9px;
    height: 9px;
    margin: 0 4px;
    position: relative;
    border-radius: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
    cursor: pointer;
    background-color: rgba(143, 80, 87, 0.8);
}

input#img-1:checked~.nav-dots label#img-dot-1,
input#img-2:checked~.nav-dots label#img-dot-2,
input#img-3:checked~.nav-dots label#img-dot-3,
input#img-4:checked~.nav-dots label#img-dot-4,
input#img-5:checked~.nav-dots label#img-dot-5,
input#img-6:checked~.nav-dots label#img-dot-6 {
    background: rgba(216, 52, 77, 0.9);
}


/* PRATELEIRA HOME
--------------------------------*/

.prateleira-home {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 30px;
    display: block;
}

.prateleira-home h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 3.5em;
    font-weight: normal;
    display: block;
    width: 100%;
}

.new-shelf-home {
    display: block;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 60px;
}

.new-shelf-home h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5em;
    font-weight: normal;
    /* display: block; */
    /* width: 100%; */
    border-bottom: solid 1px #b5b5b5;
    font-family: "Oswald";
    color: #2d2d2d;
    background: #ffffff;
    padding: 9px;
    margin-bottom: 50px;
    letter-spacing: 4px;
}

.new-shelf-home ul {
    width: 100%;
    max-width: 1200px;
    height: auto;
    text-align: center;
}

.new-shelf-home ul li {
    width: 23%;
    height: auto;
    display: inline-block;
    border: 1px solid #fff;
}

.new-shelf-home ul li:hover {
    border: 1px solid rgba(0, 0, 0, 0.15);
    transition: all 0.4s ease-in-out 0.01s;
}

.new-shelf-home ul li.last {
    margin: 0;
}

.new-shelf-home ul li .vitrine {
    text-align: center;
    position: relative;
}

.new-shelf-home ul li .vitrine span.percentual {
    position: absolute;
    right: 8px;
    top: 10px;
    background: red;
    color: white;
    padding: 0px 5px;
    font-size: 14px;
}

.new-shelf-home ul li .vitrine .tumb {
    width: 95%;
    display: inline-block;
    margin-bottom: 5px;
}

.new-shelf-home ul li .vitrine .tumb img {
    width: 100%;
    height: auto;
}

.new-shelf-home ul li .vitrine h3 {
    width: 97%;
    height: auto;
    display: inline-block;
    font-size: .9em;
    text-align: center;
    margin: 5px 1% 0px 1%;
}

.new-shelf-home ul li {
    font-family: "Oswald", sans-serif;
}

.new-shelf-home ul li a {
    /* font-family:"Oswald",sans-serif; */
    font-size: 11pt;
    letter-spacing: 0.5px;
}

.new-shelf-home ul li .price3 {
    display: none !important;
}

.new-shelf-home ul li .vitrine h3 a {
    color: #b1b1b1;
    text-transform: uppercase;
}

.new-shelf-home ul li .vitrine h3 a span.titulo {
    height: 17px;
    display: inline-block;
    overflow: hidden;
    line-height: 17px;
    color: #737373;
}

.new-shelf-home ul li .vitrine span.price1,
.new-shelf-home ul li .vitrine span.price2,
.new-shelf-home ul li .vitrine span.price3 {
    text-align: center;
    display: inline;
    width: 100%;
    font-weight: 400;
    word-spacing: -2pt;
    font-style: italic;
    color: #a2a2a2;
    font-size: 15px;
}

.new-shelf-home ul li .vitrine span.price1,
.new-shelf-home ul li .vitrine span.price3 {
    font-size: 14px;
    text-decoration: line-through;
    text-decoration-color: #f32626;
    font-weight: 400;
}

.new-shelf-home ul li .vitrine span.frete {
    display: none;
}


/* BANNER HOME INFERIOR
--------------------------------*/

.frame-banners {
    width: 99%;
    max-width: 1200px;
    height: auto;
    display: block;
    text-align: center;
    margin: 0 auto;
}

.frame-banners .frame {}

.frame-banners .banner1 {
    width: auto;
    height: auto;
    margin-right: 0.5%;
    display: inline-block;
    min-width: 411px;
    vertical-align: top;
}

.frame-banners .banner1 img {
    width: 100%;
    max-width: 530px;
}

.frame-banners .banner2 {
    width: auto;
    height: auto;
    margin-right: .9%;
    display: inline-block;
    vertical-align: top;
}

.frame-banners .banner2 li {
    margin-bottom: 5px
}

.frame-banners .banner2 img {
    width: auto;
    height: 100%;
}

.frame-banners .banner3 {
    width: 256px;
    height: auto;
    background: #414141;
    color: #fff;
    text-align: left;
    display: inline-block;
    min-width: 256px;
    vertical-align: top;
}

.banner3 h3.newsletter-title {
    visibility: hidden;
    padding: 0;
    font-weight: normal;
    margin-left: 10px
}

.banner3 h3.newsletter-title:before {
    visibility: visible;
    content: 'newsletter';
    font-size: 0.8em;
    text-transform: uppercase;
    font-style: italic;
    padding: 0 50% 8px 10px;
    border-bottom: 1px solid rgba(204, 204, 204, 0.6);
}

.banner3 .newsletter h3 {
    visibility: hidden;
}

.banner3 .newsletter h3:before {
    visibility: visible;
    content: 'newsletter';
    font-size: 0.8em;
    text-transform: uppercase;
    font-style: italic;
    padding: 0 50% 8px 10px;
    border-bottom: 1px solid rgba(204, 204, 204, 0.6);
}

.newsletter fieldset {
    border: none;
}

.newsletter fieldset p {
    text-transform: uppercase;
    /* visibility: hidden; */
    margin: 0px;
    height: 56px;
    color: #999999;
    line-height: 1.3em;
    font-size: 13px;
}

.newsletter fieldset p:before {
    visibility: visible;
}

.frame-banners .banner3 fieldset {
    margin: 0;
    height: 180px;
}

.frame-banners .banner3 fieldset.success {
    font-size: 1.1em;
    text-align: center;
    text-transform: uppercase;
}

.frame-banners .banner3 fieldset.success label em {
    font-size: 0.55em;
    text-transform: uppercase;
    line-height: 45px;
}

.frame-banners .banner3 fieldset.success label h4 {
    font-size: .7em;
    font-weight: normal;
    line-height: 14px;
    padding: 0;
    margin: 0
}

.frame-banners .banner3 fieldset.success label span {
    font-size: .5em;
    font-weight: normal;
}

.frame-banners .banner3 fieldset input#newsletterClientName,
.frame-banners .banner3 fieldset input#newsletterClientEmail {
    width: 93%;
    height: 35px;
    border: 0;
    margin-bottom: 10px;
    outline: none;
    text-transform: uppercase;
    padding-left: 15px;
}

.frame-banners .banner3 fieldset input#newsletterButtonOK {
    width: 50px;
    height: 33px;
    border: 0px;
    padding: 0;
    background: #a93333;
    color: #fff;
    text-transform: uppercase;
    float: right;
}

.frame.banner3 li:last-child {
    background: url(//rogerstenis.vteximg.com.br/arquivos/banner-inferior-facebook.jpg) no-repeat;
    margin: 5px auto;
    width: 95%;
    height: 161px;
    text-transform: uppercase;
    padding-top: 55px;
}

.frame.banner3 li:last-child h1 span {
    color: #000;
    font-size: 0.5em;
}

.frame.banner3 li:last-child h1 {
    text-align: center;
    color: #000;
    font-size: 1.5em;
    margin: 0
}

.frame.banner3 li:last-child h1 p {
    margin-top: 0;
    margin-bottom: 20px
}

.frame.banner3 li h2 {
    text-align: center;
    color: #fff;
    font-size: 0.5em;
    background: #163b69;
    width: 30%;
    height: 10%;
    padding-top: 10px;
    border-radius: 3px;
    margin: 0 auto;
}


/* FOOTER
--------------------------------*/

footer {
    width: 100%;
    background: #e3e3e3;
    height: auto;
    display: block;
}

footer .copyright {
    width: 100%;
    height: 30px;
    float: left;
    background: #ffffff;
    font-size: 10pt;
    text-align: center;
    line-height: 18pt;
    margin: 20px 0;
    text-transform: uppercase;
    display: block;
    color: #666666;
}

footer .content {
    margin-top: 10px;
    width: 90%;
    margin: 0 auto;
    height: auto;
    overflow: auto;
}

footer ul.list-footer {
    float: left;
    width: 25%;
    min-width: 210px;
    margin-bottom: 20px;
}

footer ul.list-footer.central-relacionamento {
    width: 30%
}

footer ul.list-footer.seguranca {
    width: 20%;
}

footer ul.list-footer.seguranca a {
    background: url(//rogerstenis.vteximg.com.br/arquivos/selos-seguranca2.png) no-repeat left 17px;
    width: 122px;
    height: 212px;
    background-size: 85%;
    display: inline-block;
}

footer ul.list-footer h1 {
    text-transform: uppercase;
    font-size: 1em;
    font-family: 'proxima_nova_ltbold';
    letter-spacing: 0.2em
}

footer ul.list-footer li,
footer ul.list-footer li a {
    text-transform: uppercase;
    font-size: 8pt;
    line-height: 25px;
    color: #2e2e2e;
    text-decoration: none;
}

footer ul.list-footer li strong {
    font-size: 10pt;
}

footer ul.list-footer a li:hover {
    color: rgb(143, 40, 72);
}

footer ul.list-footer li:first-child {
    margin-bottom: 10px;
    margin-top: 25px;
}

footer ul.list-footer.atendimento li.pagamento-icones {
    margin-top: 44px;
    background: url('//rogerstenis.vteximg.com.br/arquivos/icones.png') no-repeat 0 -295px;
    background-size: 173px 698px;
    height: 109px;
    width: 174px;
    display: inline-block;
}

footer ul.list-footer.redes li:first-child {
    float: none;
    background: none;
    min-height: 10px;
    padding: 0;
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
    margin-top: 25px;
}

footer ul.list-footer.redes li {
    float: left;
    width: 100%;
    min-height: 29px;
    padding: 0 0 0 20px;
    margin: 9px 0 0 50px;
}

footer ul.list-footer.redes .face {
    background: url('//rogerstenis.vteximg.com.br/arquivos/icones.png') no-repeat 0 -425px;
    background-size: 173px 698px;
    width: 62px;
}

footer ul.list-footer.redes li.twitt {
    background: url('//rogerstenis.vteximg.com.br/arquivos/icones.png') no-repeat 0 -454px;
    background-size: 173px 698px;
}

footer ul.list-footer.redes li.pint {
    background: url('//rogerstenis.vteximg.com.br/arquivos/icones.png') no-repeat 0 -514px;
    background-size: 173px 698px;
}

footer ul.list-footer.redes li.you {
    background: url('//rogerstenis.vteximg.com.br/arquivos/icones.png') no-repeat 0 -544px;
    background-size: 173px 698px;
}

footer ul.list-footer.redes li.news {
    background: url('//rogerstenis.vteximg.com.br/arquivos/icones.png') no-repeat 0 -574px;
    background-size: 173px 698px;
}

footer ul.list-footer.redes li.insta {
    background: url('//rogerstenis.vteximg.com.br/arquivos/icones.png') no-repeat 0 -484px;
    background-size: 173px 698px;
    width: 104px;
}


/* DEPARTAMENTO
---------------------------------------*/

.bread-crumb {
    height: 2.5em;
    line-height: 2.5em;
    display: block;
    margin: 0 0 0 1em;
    text-align: left;
}

.bread-crumb ul li:first-child {
    text-indent: -9999px;
    background: url(//rogerstenis.vteximg.com.br/arquivos/icon-home.png) no-repeat left 6px;
    background-size: 17px auto;
    width: 20px;
    margin-right: 3px;
}

.bread-crumb ul li:before {
    content: "> ";
    margin: 0 10px 0 4px
}

.bread-crumb ul li {
    line-height: 25px;
    font-style: italic;
    padding: 3px 3px;
    display: inline-block;
    font-size: 11pt;
}

.bread-crumb ul li a {
    color: #000
}

.bread-crumb ul li a:hover {
    color: #4d4d4d;
    text-decoration: underline;
}

.menu-navegue {
    display: none;
}

.navigation,
.navigation-tabs {
    width: 20%;
    color: #000;
    text-transform: uppercase;
    font-size: 9pt;
    letter-spacing: .1em;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

.navigation ul,
.navigation-tabs ul {
    /* width: 100%; */
}

.productClusterSearchableIds {
    display: none;
}

.navigation-tabs h3,
.navigation-tabs h4 {
    display: none;
}

.navigation h3,
.navigation h4,
.navigation h5,
.navigation-tabs h5 {
    font-family: 'proxima_nova_ltbold';
    text-align: left;
    border-bottom: solid 1px #afafaf;
}

.navigation a,
.navigation-tabs a {
    color: #000;
    font-size: 9pt;
    padding: 5px;
}

.navigation-tabs ul a.ver-filtros {
    font-size: 10px;
    float: right;
}

.navigation a:hover,
.navigation-tabs a:hover {
    color: #9e221e;
    text-decoration: blink;
}

.navigation ul li,
.navigation-tabs ul li {
    border-bottom: 1px solid #e3e3e3;
    padding: 4px;
}

.navigation-tabs ul li.filtro-ativo {
    color: #ad1616
}

.navigation-tabs ul li.filtro-ativo:before {
    content: ">>> ";
}

.navigation-tabs ul.Tamanho {
    text-align: center
}

.navigation-tabs ul.Tamanho li,
.navigation ul.Tamanho li {
    width: 20%;
    height: auto;
    display: inline-block;
    text-align: center;
    margin-right: 1px;
    padding: 5px 1%;
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 5px;
}

.navigation-tabs ul.Tamanho li:hover,
.navigation ul.Tamanho li:hover {}

.sub {
    border-bottom: solid 1px #ccc;
    padding-bottom: 10px;
}

.sub:last-child {
    display: none;
}

p.searchResultsTime,
p.compare,
.sub .resultado-busca-filtro fieldset.filterBy {
    display: none;
}

.sub .resultado-busca-filtro fieldset.orderBy {
    border: none;
    padding: 0;
    text-align: right;
}

.orderBy {
    font-size: 13px;
}

.orderBy select {}

.pager {
    height: auto;
    margin: 0;
    text-align: right;
}

.pager.bottom {}

.pager ul {
    height: 74px;
    text-align: right;
    display: inline-block;
}

.pager ul li {
    text-transform: uppercase;
    width: 40px;
    height: 35px;
    text-align: center;
    line-height: 2.3em;
    margin-right: 15px;
    display: inline-block;
}

.pager ul li.previous,
.pager ul li.next {
    display: none;
}

.pager ul li.first,
.pager ul li.last {
    width: auto;
    display: inline-block;
    font-size: 10pt;
    margin: 0 20px
}

li.page-number:hover {
    color: #0e0e0e;
}

li.page-number.pgCurrent {
    background: black;
    color: #fff;
}

.pager.top {
    display: none;
}

.vitrine .prateleira {
    width: 100%;
    display: inline-block;
    margin-top: 25px;
    text-align: center;
}

.main {
    display: inline-block;
    /* max-width: 960px; */
    width: 77%;
    margin-left: 3%;
    margin-bottom: 40px;
    position: relative;
    text-align: center;
}

.main .vitrine {
    width: 100%;
    height: auto;
    text-align: left;
    margin-bottom: 30px;
    border-bottom: solid 1px #ccc;
}

.main .vitrine .prateleira ul li {
    width: 25%;
    height: auto;
    margin-bottom: 70px;
    display: inline-block;
    position: relative;
    float: left;
    font-family: "Oswald", sans-serif;
    color: #808080;
}

.main .vitrine .prateleira ul li:hover {
    cursor: pointer;
    color: #333333;
}

.main .vitrine .prateleira ul li img {
    width: 96%;
    height: auto;
    margin: 0 auto;
}

.main .vitrine .prateleira ul li h3 {
    width: 90%;
    margin: 0 auto;
    padding-top: 0.6em;
    padding-bottom: 0.1em;
    font-size: 15px;
    font-family: 'proxima_nova_ltbold';
    text-align: center;
}

.main .vitrine .prateleira ul li h3 a {
    color: #888888;
    overflow: hidden;
    height: 25pt;
    display: block;
    font-family: "Oswald", sans-serif;
}

.main .vitrine .prateleira ul li:hover h3 a {
    color: #333333;
}

.main .vitrine .prateleira ul li span.listprice,
.main .vitrine .prateleira ul li span.bestprice,
.main .vitrine .prateleira ul li span.parcelado {
    width: auto;
    text-align: center;
    line-height: 15px;
    word-spacing: -1pt;
}

.main .vitrine .prateleira ul li span.listprice {
    font-size: 13px;
    text-decoration: line-through;
    text-decoration-color: #ff9292;
    color: #8a8a8a;
}

.main .vitrine .prateleira ul li span.bestprice {
    font-size: 14px;
    line-height: 23pt;
}

.main .vitrine .prateleira ul li span.parcelado {
    display: none;
}

.main .vitrine .prateleira ul li .flag-prateleira,
.main .vitrine .prateleira ul li .flagfretegratis,
.main .vitrine .prateleira ul li .flagSale,
.main .vitrine .prateleira ul li .flags-prateleiras {
    display: none;
}

.main .vitrine .prateleira ul li .percentual {
    position: absolute;
    background: #ff0000;
    color: #fff;
    font-size: .8em;
    width: auto;
    text-align: right;
    line-height: 21px;
    top: 10px;
    right: 10px;
    padding: 0 3px 0 3px;
    word-spacing: -1pt;
    opacity: 1;
}

.ts-shelf-container {
    width: 124px;
    display: none !important;
    margin-left: 17px;
    margin-bottom: 1em;
}


/* PRODUTO
---------------------------------------*/

.box-fotos {
    float: left;
    width: 50%;
    min-width: 50%;
    margin-right: 1%;
    margin-left: 68px;
}

.box-fotos .apresentacao {
    height: auto;
    margin: 0;
    display: block;
}

.apresentacao #show ul.thumbs {
    width: 100%;
    float: left;
    margin: 0;
    height: auto;
    overflow: hidden;
    text-align: left;
    display: inline-block;
}

.apresentacao #show ul.thumbs li:first-child {
    margin-left: 0;
}

.apresentacao #show ul.thumbs li {
    height: 96%;
    width: auto;
    margin-bottom: 5px;
    border: 1px solid #f1f1f1;
    margin-top: 5px;
    margin-left: -1px;
    float: left;
    overflow: hidden;
}

.apresentacao #show ul.thumbs li img {
    width: 95%;
    height: auto;
    margin: 1.5px
}

.apresentacao #show #include {
    float: left;
    width: 83%;
    height: auto;
    border: 1px solid #f1f1f1;
    padding: 5px;
    min-height: 400px;
}

.apresentacao #show #include #image-main {
    width: 100%;
}

.zoomWrapper,
.qdZoomInvisibleOverlay {
    width: 487px !important;
}

.zoomWrapperImage,
.qdZoomInvisibleOverlay {
    height: 737px !important;
}

.zoomWindow {
    overflow: hidden;
    border: 1px #ddd solid;
    background: #ffffff !important;
    left: -1px !important;
    top: -1px !important;
    width: 100%;
    height: 100%;
}

.zoomPreload {
    background: url("//rogerstenis.vteximg.com.br/arquivos/ajax-loader.gif") no-repeat center center #ffffff;
    border: 1px #8a8a8a solid;
    width: 180px;
    height: 180px;
    left: 50% !important;
    top: 50% !important;
    margin: -90px 0 0 -90px;
    opacity: 0.6;
    filter: alpha(opacity=60);
}

.zoomPad {
    position: relative;
    cursor: crosshair;
}

.zoomPup {
    opacity: 0.6;
    filter: alpha(opacity=60);
    background: #ffffff;
    border: #000000 solid;
    border-width: 1px;
}

.box-caracteristicas,
.box-comprar {
    min-width: 359px;
    float: left;
    margin-left: 0.2%;
    margin-right: 0.2%;
    overflow: visible;
    display: inline-block;
    width: 20%;
    text-align: left;
    color: #848484;
}

.descricao-produto {
    min-width: 100%;
    float: left;
    margin-left: 0.2%;
    margin-right: 0.2%;
    overflow: visible;
    display: inline-block;
    width: 100%;
    text-align: left;
}

.garantia-produto {
    min-width: 100%;
    float: left;
    margin-left: 0.2%;
    margin-right: 0.2%;
    overflow: visible;
    display: inline-block;
    width: 100%;
    text-align: left;
}

.text-garantia {
    width: 90%;
    margin: 0 auto 40px;
    overflow-y: auto;
    font-size: 11pt;
    line-height: 1.6em;
    text-align: center;
}

.descricao-produto {
    color: black
}

.box-caracteristicas h1 {
    font-family: "Oswald", sans-serif;
    margin: 0px 0 0 0;
    padding: 0;
    font-size: 24pt;
}

.box-caracteristicas .fn.productName2 {
    display: block !important;
    font-size: 0.7em;
    text-transform: uppercase;
    width: 100%;
}

.box-caracteristicas .brandName {
    color: #666;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    text-transform: none;
    letter-spacing: 0;
    font-family: monospace;
    margin-bottom: 7px;
}

.box-caracteristicas .brandName:hover {
    text-decoration: underline;
}

.box-caracteristicas .brandName a {
    font-size: 23px;
    color: #b1b1b1;
    text-decoration: none;
    text-transform: uppercase;
}

.box-caracteristicas .brandName a:hover {
    text-decoration-color: #ca3406;
    text-decoration: underline;
}

.box-caracteristicas .skuReference,
#textodisponibilidade {
    display: none !important;
}

.box-caracteristicas .productReference {
    margin: 0;
    font-size: 15pt;
}

.box-caracteristicas .productReference:before {
    content: 'Ref.: '
}

.box-comprar #skuselector {
    text-align: center;
    margin: 0;
    overflow: visible;
    width: 100%;
    padding: 0;
    display: block;
}

.box-comprar ul.topic {
    width: 100%;
    margin-bottom: 10px;
    padding: 0;
}

.box-comprar ul.topic li.skuList {
    overflow: visible;
    display: block;
    height: auto;
}

.box-comprar ul.topic.Tamanho {
    margin-bottom: 2px;
    height: auto;
    display: inline-block;
}

li.item-dimension-Cor {
    width: auto;
    text-align: left;
}

li.item-dimension-Cor span {
    display: inline-block;
    overflow: visible;
    text-align: left;
}

.box-comprar #skuselector ul.topic input {
    left: -99999em;
    position: absolute;
}

.box-comprar #skuselector ul.topic li.specification:after {
    content: ":";
    font-size: 12pt;
}

.box-comprar #skuselector ul.topic.Cor li.specification,
.box-comprar #skuselector ul.topic.Tamanho li.specification {
    text-transform: uppercase;
    font-size: 14pt;
    margin-bottom: 13px;
    color: #989898;
    text-align: left;
    border-bottom: solid 1px #ccc;
}

.box-comprar #skuselector ul.topic label {
    color: #000;
    display: block;
    float: left;
    margin: 12px 12px 0 0;
    padding: 0 2px;
    position: relative;
    text-align: center;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.box-comprar #skuselector ul.Cor label {
    float: left;
    border: 1px solid #ddd;
    width: 80px;
    height: 80px;
    margin: 7px 0 0 7px;
    position: relative;
    cursor: pointer;
    text-indent: -9999px;
    background-size: 75% !important;
    opacity: 0.85;
    display: inline-block;
}

.box-comprar #skuselector ul.Cor label:hover {
    opacity: 1;
    /* background-blend-mode:normal; */
    /* background-color:#FFFFFF; */
}

.box-comprar #skuselector ul.Cor label.sku-picked {
    opacity: 1;
}

.box-comprar #skuselector ul.Cor label.item_unavaliable,
.box-comprar #skuselector ul.Cor label.combination_unavaliable,
.box-comprar #skuselector ul.Cor label.item_doesnt_exist,
.box-comprar #skuselector ul.Cor label.disabled {
    opacity: 0.4;
}

.box-comprar #skuselector ul.Tamanho label {
    cursor: pointer;
    min-width: 40px;
    height: 40px;
    margin: 12px 12px 0 0;
    background: #ffffff;
    text-align: center;
    line-height: 29pt;
    font-size: 13pt;
}

.box-comprar #skuselector ul.Tamanho label:hover {
    color: #d54040 !important;
}

.box-comprar #skuselector ul.Tamanho label.sku-picked {
    background: #ffffff;
}

label.sku-picked:after {
    content: "\f02b";
    font-family: FontAwesome;
    right: -3px;
    position: absolute;
    bottom: -9px;
}

.box-comprar #skuselector ul.Tamanho label.item_unavaliable,
.box-comprar #skuselector ul.Tamanho label.combination_unavaliable,
.box-comprar #skuselector ul.Tamanho label.item_doesnt_exist,
.box-comprar #skuselector ul.Tamanho label.disabled {
    position: relative;
    color: #b3b3b3;
    background: #f0f0f0;
}

.box-comprar #skuselector ul.Tamanho label.item_unavaliable:after,
.box-comprar #skuselector ul.Tamanho label.combination_unavaliable:after,
.box-comprar #skuselector ul.Tamanho label.item_doesnt_exist:after,
.box-comprar #skuselector ul.Tamanho label.disabled:after {
    content: 'X';
    color: red;
    font-size: 11pt;
    position: absolute;
    opacity: 1;
    right: 3px;
    bottom: -11px;
    font-stretch: condensed;
    text-transform: lowercase;
}

.box-caracteristicas .plugin-preco {
    margin: 0;
    width: 100%;
    display: inline-block;
    font-family: 'Oswald', sans-serif;
}

span.balaodisp.baland,
span.balaodisp.balaond,
span.balaodisp.balaod {
    display: none;
}

.box-comprar {}

.box-comprar .flag {
    display: none;
}

p.precoNOBoleto {
    font-size: 16px;
    font-style: italic;
    margin: 0 0 23px 0;
}

.box-caracteristicas em.valor-de.price-list-price {
    display: inline !important;
    font-style: normal;
}

.box-caracteristicas em.valor-por.price-best-price {
    display: inline !important;
    padding-left: 5pt;
    font-style: normal;
}

.box-caracteristicas em.valor-de.price-list-price .skuListPrice {
    text-decoration: line-through;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5666em;
    font-weight: 400;
    text-decoration-color: #ca3406;
    font-style: italic;
}

.box-caracteristicas em.valor-por.price-best-price strong {
    font-weight: 400;
    font-family: 'Oswald', sans-serif;
    font-size: 28px;
    font-style: italic;
    color: #333;
}

.box-caracteristicas em.valor-dividido.price-installments {
    font-size: 21px;
    margin-top: 3px;
    line-height: 14px;
    font-family: 'Oswald', sans-serif;
}

.box-caracteristicas em.valor-dividido.price-installments strong {
    font-weight: 400;
    color: #ff2828;
}

.flag-frete-gratis {
    margin: 10px 0 10px 0;
    font-size: 13px;
}

.box-comprar em.valor-dividido.price-installments label.skuBestInstallmentValue {
    color: rgb(0, 0, 0);
}

.box-caracteristicas .descricao-preco {
    width: 100%;
    min-height: 20px;
    margin: 3px 0 8px 0;
    font-style: normal;
}

.box-caracteristicas p.preco-a-vista.price-cash {
    margin: 0;
    width: 100%;
    font-size: 12px;
    display: none !important;
}

.box-comprar p.preco-a-vista.price-cash:before {}

em.economia-de {
    text-align: left;
    height: 30px;
}

.box-caracteristicas p.preco-a-vista.price-cash strong.skuPrice {
    font-weight: normal;
    font-size: 16px;
}

.box-caracteristicas em.economia-de {
    display: none;
    margin-top: 10px;
}

.box-caracteristicas em.economia-de span.economia {
    color: #333333;
    font-weight: bold;
}

a.buy-button {
    background: #2d9826;
    font-family: 'Oswald';
    font-size: 1.7em;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    line-height: 1em;
    width: 95%;
    margin: 20px 0 0 0;
    display: inline-block !important;
    padding: 17px 0;
}

a.buy-button:hover {
    background: #33a23c;
    color: white;
}

.botoes_sociais {
    float: left;
    width: 100%;
    display: none;
}

.descricao-produto {
    display: inline-block;
}

.descricao-produto h1 {
    text-transform: uppercase;
    margin-left: 174px;
    font-size: 40px;
    letter-spacing: .34em
}

.productDescription {
    width: 90%;
    margin: 0 auto 40px;
    overflow-y: auto;
    font-size: 11pt;
    line-height: 1.6em;
    text-align: center;
}

.prateleira.quemviuviu {
    display: block;
    width: 100%;
    margin: 50px auto 0;
    height: auto;
    overflow: hidden;
}

.prateleira.quemviuviu h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    letter-spacing: 0.15em;
    color: #989898;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: solid 1px #cccccc;
}

.prateleira.quemviuviu ul {
    height: auto;
    display: inline-flex;
    margin: 0 0 20px 0;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
}

.prateleira.quemviuviu ul::-webkit-scrollbar {
    width: 10px;
    height: 8px;
}

.prateleira.quemviuviu ul::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.prateleira.quemviuviu ul::-webkit-scrollbar-thumb {
    background: #888;
}

.prateleira.quemviuviu ul::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.prateleira.quemviuviu ul li {
    width: 100%;
    vertical-align: top;
    text-align: center;
    /* font-family: "Oswald",monospace; */
    float: left;
}

.prateleira.quemviuviu ul li>div {
    width: 200px;
    margin: auto 8px;
}

.prateleira.quemviuviu ul li:hover {}

.prateleira.quemviuviu ul li a {
    color: #929292;
    text-align: center;
}

.prateleira.quemviuviu ul li a .price1 {
    text-decoration: line-through;
    font-size: 17px;
    text-align: center;
    color: #8a8a8a;
    text-decoration-color: #f57c57;
    word-spacing: -2pt;
    font-weight: 400;
}

.prateleira.quemviuviu ul li a .price2 {
    font-size: 20px;
    text-align: center;
    font-weight: 400;
}

.prateleira.quemviuviu ul li .tumb img {
    width: 100%;
    height: auto;
    margin: 0px auto;
}

.prateleira.quemviuviu ul li span.titulo {
    font-size: 11pt;
    margin: 16px 2px 3px 2px;
    text-align: center;
    overflow: hidden;
    display: block;
    height: 43pt;
    color: #6f6f6f;
    text-transform: uppercase;
    font-family: 'ProximaNova-Regular';
}

.prateleira.quemviuviu ul li span.price2 {
    font-size: 12pt;
}

.prateleira.quemviuviu ul li span.highlight {
    display: none;
}

.prateleira.quemviuviu ul li span.highlight p.flag {
    font-size: 12px;
    border-radius: 3px;
    background: #eee;
    width: 80%;
    height: 25px;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 17px;
    margin-top: 20px;
    text-align: center;
    line-height: 26px;
    vertical-align: bottom;
}

.nossaslojas .content h2 {
    font-size: 45px
}

.n1colunas.container-trustvox {
    display: block;
    width: 100%;
}

h2#trustvox-reviews {
    float: left;
}

.nossas-lojas ul {
    width: 100%;
    float: left;
    margin-right: 20px;
    margin-bottom: 50px;
    border-bottom: 1px solid #ddd
}

.nossas-lojas ul li {
    float: left;
    margin-right: 50px;
    border-right: 1px solid #ddd;
    width: 240px;
    height: 290px
}

.nossas-lojas ul li:last-child {
    border: none;
}

.nossas-lojas h4 {
    font-size: 12px;
    font-weight: normal;
    margin: 5px 0 10px 0;
}

.nossas-lojas h3 {
    font-size: 17px;
    margin: 0;
    padding: 0;
}

.nossas-lojas p {
    font-size: 12px
}

.centraliza {
    display: inline-block;
    max-width: 1165px;
    width: 100%;
}

body.nossaslojas div#content {
    text-align: center;
}

.isMobile {
    display: none;
}

.account-icon {
    width: 40px;
    position: relative;
    left: 204px;
    height: 50px;
    text-align: center;
}

@media screen and (max-width:500px) {
    body>.container>.content {
        width: 99%;
    }
    html {
        max-width: 100%;
    }
    .click a {
        color: #bf1111 !important;
    }
    nav.submenu ul {
        height: max-content;
        background: white;
        margin: 20px 0px 0px 0px !important;
        padding: 18px;
        display: flex;
        overflow: visible;
        flex-flow: column;
    }
    body {
        max-width: 100%;
    }
    nav.submenu.homens {
        overflow: auto;
        width: 105%;
        height: auto;
        visibility: visible;
        position: fixed;
        transform: translateX(-100%);
        opacity: 1;
        flex-flow: column;
        margin-left: -3px;
        top: 0px;
        display: grid;
    }
    nav.submenu.mulheres {
        overflow: auto;
        width: 105%;
        position: fixed;
        transform: translateX(-100%);
        opacity: 1;
        margin-left: -3px;
        top: 0px;
        visibility: visible;
        display: grid;
    }
    nav.submenu.criancas {
        overflow: auto;
        width: 105%;
        visibility: visible;
        position: fixed;
        transform: translateX(-100%);
        opacity: 1;
        margin-left: -3px;
        top: 0px;
        display: flex;
    }
    nav.submenu.marcas {
        overflow: auto;
        width: 105%;
        visibility: visible;
        position: fixed;
        transform: translateX(-100%);
        opacity: 1;
        margin-left: -3px;
        top: 0px;
        display: flex;
    }
    .MobileUl {
        display: inline-flex !important;
    }
    .submenu {
        bottom: 21px;
        font-family: proxima_nova_ltbold;
        width: 103%;
        height: 100%;
        position: fixed;
        display: flex;
        flex-flow: column;
        overflow: scroll;
    }
    .topbar .container ul li:first-child {
        border-right: 0;
        color: #FF0000;
        background-color: white;
        display: block;
        margin: 0;
        text-align: center;
        padding: 0;
        line-height: 20px;
        vertical-align: middle;
        width: 100%;
        display: none;
    }
    .topbar .container ul li {
        padding: 0px 10px;
        margin: 5px;
    }
    .topbar .container ul {
        text-align: center;
        width: 100%;
    }
    .main-menu ul li {
        margin: 0 3px;
        padding: 0px;
        overflow: visible;
        outline: none;
    }
    .main-menu ul {
        margin: 0;
        display: none;
        padding: 0;
    }
    .main-menu {
        padding: 0px;
        align-items: center;
        width: 85%;
        margin: 2em 0px 0px 44px;
        overflow: scroll;
        display: inline-flex;
    }
    .main-search {
        margin-top: 0
    }
    /* nav.submenu {
        display: none !important;
    } */
    .selector-bar {
        margin: 0 0 0 0;
    }
    .pitch-bar ul li {
        margin: 0;
        padding: 8px 7px 0 60px;
    }
    .navigation,
    .navigation-tabs {
        width: 90%;
        margin: 0 5%;
    }
    .menu-departamento {
        display: block;
        text-align: left;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .search-single-navigator {
        display: block;
        text-align: left;
    }
    .navigation ul,
    .navigation-tabs ul {
        display: inline-block;
        text-align: center;
        margin-bottom: 15px;
        width: 100%;
    }
    .navigation h3,
    .navigation-tabs h3,
    .navigation ul li,
    .navigation-tabs ul li {
        display: inline-block;
        margin: 0;
        padding: 1%;
        width: 45%;
        float: left;
    }
    .main {
        width: 100%;
        margin: 0;
    }
    .main .vitrine .prateleira ul li {
        width: 50%;
        height: auto;
    }
    .pager {
        margin: 2%;
        text-align: center;
        width: 90%;
    }
    .sub {
        margin: 20px;
        display: block;
    }
    footer ul.list-footer {
        width: 100% !important;
        float: none;
        display: block;
        text-align: center;
        margin-bottom: 60px;
    }
    .apresentacao #show ul.thumbs {
        width: 100%;
        height: 110px;
        float: none;
        display: block;
        text-align: left;
    }
    .apresentacao #show #include {
        width: 100%;
        height: auto;
        display: block;
        float: none;
    }
    .apresentacao #show #include #image-main {
        width: 100%;
        margin: 0 auto;
        display: block;
    }
    .apresentacao #show {
        display: block;
        overflow: hidden;
        padding: 0px 0px 0px 10px;
    }
    .apresentacao {
        width: inherit !important;
    }
    .box-fotos {
        display: block;
        width: 100%;
        margin: 0;
    }
    .box-caracteristicas,
    .box-comprar {
        width: 95%;
        float: none;
        display: block;
        padding: 0px 0px 0px 10px;
    }
    .apresentacao #show ul.thumbs {
        width: 90%;
        margin: 5px;
        float: left;
    }
    .apresentacao #show ul.thumbs li {
        width: 100px;
        margin: 5px;
        float: left;
    }
}

.produto-new #calculoFrete .close,
.produto-new #calculoFrete .quantity,
.produto-new #popupCalculoFreteWrapper,
.produto-new #calculoFrete .header h1,
.produto-new #calculoFrete .header h2 {
    display: none;
}

.produto-new #calculoFrete {
    margin-top: 30px;
    background-color: #ffffff;
    color: #000000;
    text-transform: uppercase;
    font-size: 13.5px;
    text-align: left;
    line-height: 30px
}

.produto-new #calculoFrete .cep-busca a {
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    text-decoration: underline;
    margin-top: -9px;
    color: #0a0a0a;
}

.produto-new #calculoFrete fieldset {
    border: solid #f1f1f1;
    margin: 0;
    padding: 0;
    border-radius: 5px;
    border-width: 1px;
    text-align: center;
}


/* categorias novas */


/* MOBILE
---------------------------------------

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px) {

    header {
        width: 100%;
        height: auto;
        float: left;
    }

    header .logo {
        background: url('//rogerstenis.vteximg.com.br/arquivos/icones.png') no-repeat center 13px;
        background-size: 200px auto;
        width: 100%;
        height: 90px;
        margin: 0 auto;
    }

    .topbar {
        height: 2.5em;
    }

    .topbar .container ul li.msg-welcome {
        display: none;
    }

    .topbar .container ul li {
        font-size: .8em
    }

    .pitch-bar {
        border: none;
    }

    .pitch-bar ul {
        height: 12em;
        width: 80%;
    }

    .pitch-bar ul li {
        width: 100%;
        height: 3em;
        padding: 0;
        font-size: .65em;
        margin-bottom: 1.5em;
        border-bottom: 1px solid #ccc;
        padding-top: 1em;
        padding-bottom: .8em;
        text-align: left;
        text-indent: 6em;
    }

    .pitch-bar ul li br {
        display: none;
    }


    .main-menu {
        width: 100%;
        height: 4em;
        border-bottom: 1px solid #ccc;
    }

    .main-menu ul {
        height: 2.5em;
        margin: 1.5em auto;
        padding: 0;
    }

    .main-menu ul li {
        width: 19%;
        padding-top: 1em;
        font-size: 70%;
        height: 2.7em;
        padding-left: .3em;
        text-align: center;
    }


    .main-search {
        width: 100%;
        height: 3.5em;
        float: left;
        margin: 0 auto;

        background: none;
        border-bottom: 1px solid #ccc;
        border-radius: 0;
    }

    .main-search fieldset .fulltext-search-box {
        margin: 0;
        font-size: 1em;
        height: 2.6em;
        position: relative;
        float: left;
        max-width: 85%;
    }

    .main-search input.btn-buscar {
        left: 0;
        float: right;
        top: 1em;
        background-position-x: 1.2em
    }


    ul.slides {
        height: 150px;
        margin: 0;
    }

    .slides li .box-banner.sale,
    .slides li .box-banner.maes {
        background-size: 270%;

    }

    .slides li .box-banner {
        height: 110%;
    }

    .nav label {
        opacity: .6;
    }


    .prateleira-home {
        float: left;
        margin: 0;
        min-height: 28em;
    }

    .prateleira-home h1 {
        font-size: 2.5em;
        width: 100%;
        margin: 0;
    }

    .new-shelf-home ul {
        margin: 2em 0 0 0;
        height: 18em;
    }

    .new-shelf-home ul li {
        width: 24.2%;
        height: auto;
        min-height: 60%;
        padding: 0;
        border: none;
        margin-right: 1%;
    }

    .new-shelf-home ul li .vitrine .tumb {
        margin-bottom: .3em
    }

    .new-shelf-home ul li .vitrine h3 {
        width: 80%;
        height: 7em;

        font-size: .8em;
        text-align: center;
    }

    .frame-banners {
        width: 100%;
        height: auto;
        margin-bottom: 2em;
    }

    .frame-banners .frame {
        float: left;
        width: 100%;
    }

    .frame-banners .banner1,
    .frame-banners .banner2 {
        width: 100%;
        height: auto;
        margin-right: 0;
    }

    .frame-banners img {
        width: 100%;
        height: auto;
    }

    .frame-banners .banner2 li {
        margin-bottom: 0
    }

    .frame-banners .banner3 {
        width: 100%;
    }

    .frame.banner3 li:last-child {
        background: url(banner-inferior-facebook.jpg) no-repeat;
        margin: 0 auto;
        width: 90%;
        height: 17em;
        background-size: 100% auto;
    }
    

    footer ul.list-footer,
    footer ul.list-footer.central-relacionamento,
    footer ul.list-footer.seguranca {
        min-width: 90%;
        margin: 0 auto;
        float: none;
        height: auto;
        margin-bottom: 5em
    }

    footer ul.list-footer li {
        font-size: 1em;
        text-align: center;
        line-height: 3.5em;
        border-bottom: 1px solid #ccc
    }

    footer ul.list-footer li:first-child,
    footer ul.list-footer li:last-child {
        border: none;
        margin: 0;
    }

    footer ul.list-footer h1 {
        font-size: 1.7em;
        text-align: center;
        border: none;
        margin: 0
    }

    footer ul.list-footer.atendimento li:last-child {
        background-position: center -342px;
        background-size: 200px auto;
        height: 8em;
        border: none;
    }

    footer ul.list-footer.redes li {
        float: none;
        width: 50%;
        padding: 0;
        margin: 0 auto;
    }

    .face, .twitt, .pint, .you, .news, .insta {
        text-indent: 2em
    }

    footer ul.list-footer.redes li.face {
        background-position: 2em -601px !important;
        background-size: 250px auto !important;
    }

    footer ul.list-footer.redes li.twitt {
        background-position: 2em -643px !important;
        background-size: 250px auto !important;
    }

    footer ul.list-footer.redes li.pint {
        background-position: 2em -733px !important;
        background-size: 250px auto !important;
    }

    footer ul.list-footer.redes li.you {
        background-position: 2em -778px !important;
        background-size: 250px auto !important;
    }

    footer ul.list-footer.redes li.news {
        background-position: 2em -824px !important;
        background-size: 250px auto !important;
    }

    footer ul.list-footer.redes li.insta {
        background-position: 2em -689px !important;
        background-size: 250px auto !important;
    }
}


--------------------------------------------------------------- */

.box-fotos .apresentacao #show {
    width: 97%;
}